.banner__image {
    width: 100%;
    height: 100%;
    clip-path: inset(0 round 20px);
}

@media (max-width: 720px) {
    .banner__image {
        height: 540px;
        object-fit: cover;
        clip-path: none;
    }

    #first_banner {
        object-position: top right;
    }

    #second_banner {
        object-position: top left;
    }

    #third_banner {
        object-position: center center;
    }
}