.banner__title {
    margin: 0;
    position: absolute;
    color: #fff;
    font-size: 50px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .banner__title {
        font-size: 36px;
    }
}
@media (max-width: 720px) {
    .banner__title {
        font-size: 32px;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        text-align: center;
        width: 90%;
        z-index: 3;
    }
}