.promo__title {
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    width: 75%;
    text-align: center;
}

@media (max-width: 1024px) {
    .promo__title {
        font-size: 50px;
    }
}

@media (max-width: 720px) {
    .promo__title {
        order: 2;
        font-size: 30px;
    }
}