.information__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

@media (max-width: 720px) {
    .information__item {
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
    }
}